.footer-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.globa-footer {
    background-color: dodgerblue;
}

.footer-top-content {
    display: flex;
    flex-direction: row;
}

.footer-top-content-col:not(:last-child) {
    margin-right: 3rem;
}

.footer-top-content h6 {
    margin-bottom: 0;
    font-weight: bold;
}

.footer-top-content p {
    font-size: 0.9rem;
}

.global-footer-about list {
    display: inline-block;
}